In [1]:
# conditionals

In [6]:
a = 0

In [7]:
if a:
    print("a has some value")

In [16]:
if [23]:
    print("mast hai")

mast hai

In [12]:
# check if number is greater than 10

In [19]:
a = 9

In [20]:
if a > 10:
    print("yes")
else:
    print("No")

No

In [21]:
if a > 10:
    print("yes")
elif a < 10:
    print("less")
else:
    print("Equal")

less

In [23]:
if 0:
    print("Chal gaya statement")

In [24]:
b = 30

In [28]:
if b == 30:
  print("b is 30")
  print("maja aara hai")

b is 30
maja aara hai

In [29]:
# loops

In [30]:
# for loops and while loops

In [31]:
a = [4,5,6]

In [32]:
for num in a:
    print(num)

4
5
6

In [33]:
s = 'kunal'
for ch in s:
    print(ch)

k
u
n
a
l

In [34]:
a = [4,5,6]

In [35]:
for chacha in a:
    print(chacha)

4
5
6

In [40]:
# using index in for loops in python
a = [43, 56,78]

In [42]:
for index, ch in enumerate(a):
    print(index, a[index])

0 43
1 56
2 78

In [43]:
a = 10
b = 20

In [44]:
# to swap values of a and b

In [51]:
a,b = b, a

In [48]:
a

20

In [49]:
b

10

In [52]:
# while loops

In [2]:
a = 5

In [4]:
while a > 0:
    print(a)
    a = a - 1

In [7]:
a = list(range(1, 10, 2))

In [8]:
a

[1, 3, 5, 7, 9]

In [9]:
# print first 5 natural numbers

In [31]:
for num in range(1, 6):
    print(num, end=" ")

1 2 3 4 5

In [12]:
# using for loops with lists

In [13]:
a = [i for i in range(1, 6)]

In [14]:
a

[1, 2, 3, 4, 5]

In [15]:
t = [2*i for i in range(1, 11)]

In [16]:
t

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# 1 to 10 tables

In [23]:
a = [
    [1,2],
    [3,4]
]

In [20]:
# prnt 2d lists

In [25]:
len(a) # number of rows

2

In [26]:
len(a[0]) # number of columns in row 0

2

In [33]:
for i in range(0, len(a)): # going through each row
    for j in range(0, len(a)): # going through each col of each row
        print(a[i][j], end=" ") # printing in same line for each row
    print() # print newline when next row comes

1 2
3 4

In [34]:
n = 3

In [35]:
a = [i*n for i in range(1, 11)]

In [36]:
a

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [43]:
b = [ [i*n for i in range(1, 11)] for n in range(1, 21) ]

# range
# lists
# comprehension
# for loops

In [42]:
b

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
 [11, 22, 33, 44, 55, 66, 77, 88, 99, 110],
 [12, 24, 36, 48, 60, 72, 84, 96, 108, 120],
 [13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190],
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200]]

In [45]:
# break  : used to break out of a loop

In [46]:
a = list(range(1, 11))

In [47]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
for i in a:
    print(i, end= " ")
    if i == 6:
        break
else:
    print("\nfor/else statement hit ho gayi")

1 2 3 4 5 6